@model Voetbalcompetitie9.ViewModels.MatchVM

@{
    ViewData["Title"] = "Matches";
}

<h1>Matches</h1>

<div>
    <h4>MatchVM</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.homeTeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.homeTeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.awayTeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.awayTeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stadionName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stadionName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
